/* IMPOSTAZIONI GENERALI */
body {
  width: 100%;
  background-image: url("../img/sfondo.png");
  box-sizing: border-box;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
p {
  margin-block: 1rem;
}
/* HEADER */
header {
  background-image: linear-gradient(#01aacd, #006688);
  vertical-align: middle;
  box-shadow: 0px 6px 10px -3px rgba(0, 0, 0, 0.7);
  display: inline-block;
  padding: 1rem;
  margin: 1.3rem;
}
header img {
  width: 75%;
  margin-bottom: 1.3rem;
  margin-top: 1.3rem;
}

header a:link {
  text-decoration: none;
}
header h1,
#menu {
  color: white;
  font-weight: 600;
  margin-bottom: 1.3rem;
  line-height: 1.2rem;
}
header a {
  color: white;
}
/* MAIN */
#container {
  text-align: left;
  background-color: white;
  box-shadow: 0px 6px 10px -3px rgba(0, 0, 0, 0.7);
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  margin-bottom: 1.3rem;
  padding: 1rem;
}
/* ELEMENTI NEL MAIN - ARTICLE */
article h2 {
  font-size: 150%;
  font-weight: 600;
  line-height: 2rem;
}
.date-pub {
  color: rgb(141, 140, 140);
  margin-bottom: 1rem;
}
.first {
  margin-bottom: 1.3rem;
}

article ul {
  margin-inline: 1rem;
  list-style-type: disc;
  margin-bottom: 1rem;
}

ol {
  margin-inline: 1rem;
  list-style-type: decimal;
}

.testo {
  margin-block: 1rem;
}
/* TABELLE */
table {
  margin-block: 1rem;
  border-bottom: 2px solid #3366cc;
}
h5 {
  margin-top: 1rem;
  text-align: center;
  font-style: italic;
  font-weight: 600;
}
table th {
  padding: 10px;
  background-color: #3366cc;
  color: white;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
iframe {
  width: 100%;
  height: 60%;
  border-radius: 10px;
}
/* FORM */
.news {
  margin-block: 1rem;
  background-color: #ddddde;
}
.news h4 {
  padding-top: 1rem;
  text-align: center;
  font-weight: 600;
}
.news p {
  padding-inline: 1rem;
  text-align: center;
}

form {
  padding-inline: 0.8rem;
  padding-bottom: 1rem;
}

input.button {
  background-color: #3366cc;
  color: white;
}
/* ELEMENTI NELL' ASIDE */
aside .art {
  padding-top: 1rem;
  font-size: 130%;
  font-weight: 600;
  text-align: center;
}
aside section {
  border: 1px solid #adadaf;
  padding: 1rem;
  background-color: #ddddde;
}
aside section span {
  font-size: 80%;
  display: inline-block;
  margin-top: 1rem;
}
aside section h6 {
  line-height: 1.5rem;
}
/* FOOTER */
footer {
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  margin-bottom: 1.3rem;
  padding: 1rem;
  margin-top: 1rem;
  background-image: linear-gradient(#005566, #224444);
  color: white;
  box-shadow: 0px 6px 10px -3px rgba(0, 0, 0, 0.7);
}

footer h3 {
  text-align: center;
  font-size: 90%;
}
footer p {
  text-align: center;
  font-size: 65%;
}
section div {
  text-align: right;
}
